<%- include('header'); -%>


    <form class="" action=" <%= route %> " method="post">
      <h1 class="display-2 errh1">OOPS...!</h1>
      <p class="lead errp">Something Went Wrong...Sorry! We don't have Information About this Movie.</p>
      <button type="submit" class="btn btn-outline-danger btn-lg">Try Again</button>
    </form>




<%- include("footer"); -%>
