<%- include('header'); -%>

  <div class="container-fluid head">


    <h1 class="homepageheading">Movie Tok</h1>

  </div>

  <div class="container-fluid search">

    <form class="" action=" <%= route %> " method="post">
      <input class="form-control form-control-lg" name="movieName" type="text" placeholder="Enter Movie Name" autocomplete="off">
      <button type="submit" class="btn btn-outline-danger btn-lg">search</button>
    </form>

  </div>





<%- include("footer"); -%>
