body{
    background-image:url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.search{
  padding: 100px;
  padding-top: 20px;
}
.head{
  color: #FBF2CF;
  padding: 50px;
  text-align: center;

}
.btn{
  margin-top: 30px;
}
.homepageheading{
  font-family: cursive;
}
/*moviesearch*/

.movieimg{
  padding: 30px;
}
.moviedetails{
  margin-top:30px;
  text-align: left;
  color: red;
  font-family: cursive;
}
.moviedet{
  margin: auto;
  text-align: left;
  color: white;
  margin-bottom: 10px;
  font-family: sans-serif;}
.imdbrow{
  text-align: left;
margin-top: 350px;

}
.imdblogo{
  height: 50px;
  width: 50px;
}
/*error*/
.errp,.errh1{
  color: white;
  margin-top: 60px;
  font-family: cursive;
}

@media (max-width: 991px) {
    .moviedet,.moviedetails{
        text-align: center;
    }
    .imdbrow{
      margin: 0;
    }
    .imdblogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}
